@model List<PokemonMVC.Models.PokemonModel>

<h2>Pokémon List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Height</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokemon in Model)
        {
            <tr>
                <td><img src="@pokemon.ImageUrl" alt="@pokemon.Name" width="100" height="100" /></td>
                <td>@pokemon.Name</td>
                <td>@pokemon.Height</td>
                <td>@pokemon.Weight</td>
            </tr>
        }
    </tbody>
</table>
